/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(blue, black);
  border: 2px solid white;
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}